<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title inertia>
      {{ process.env.APP_NAME }}
    </title>

    @viteReactRefresh()
    @inertiaHead()
    @vite(['inertia/css/app.css', 'inertia/app/app.tsx', 'inertia/app/ssr.tsx', `inertia/pages/${page.component}.tsx`])
  </head>

  <body class="min-h-screen w-screen font-arimo">
    @inertia()
  </body>

</html>
